---
import Main from "../layouts/Main.astro";
---

<Main title="Magnolia Coasts | Not Found">
  <div class="flex flex-col items-center justify-center px-4 py-32 text-center">
    <h1 class="mb-4 text-2xl font-bold">404: Oops, this page is missing!</h1>
    <p>Visit one of these links to find what you are looking for</p>
    <nav class="flex flex-wrap justify-center gap-4">
      <a href="/" class="underline">Home</a>
      <a href="/about" class="underline">About</a>
      <a href="/investment" class="underline">Investment</a>
      <a href="/gallery" class="underline">Gallery</a>
      <a href="/contact" class="underline">Contact</a>
    </nav>
    <p class="mt-8 text-sm text-gray-500">
      Let’s capture the right moment together! 📸
    </p>
  </div>
</Main>
