---
import Main from "../layouts/Main.astro";
import Welcome from "../components/Welcome.astro";
import SpecialMoments from "../components/SpecialMoments.astro";
import NewsLetter from "../components/Newsletter.astro";
import ArtInYourHome from "../components/ArtInYourHome.astro";
import HeroSection from "../components/HeroSection.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Main
  title="Magnolia Coast Photography | Family & Maternity Photography"
>
  <HeroSection />
  <Welcome />
  <SpecialMoments />
  <ArtInYourHome />
  <Testimonials />
  <NewsLetter />
</Main>
