---
import NavLayout from '../layouts/NavLayout.astro';
import Button from '../components/Button.astro';
import { Picture, Image } from 'astro:assets';
import heroImage from "../assets/HeroImage.png";
import stephaniePortrait from "../assets/StephaniePortrait.png";
---
<NavLayout title="Home Page">
	<Picture src={heroImage} alt="Baby in a basket." />
  <div class="p-[var(--card-padding)] m-[var(--edge-padding)] rounded-xl shadow-card flex justify-start">
    <div class="w-full max-w-[120px] flex flex-col mr-2">
      <Image layout="constrained" src={stephaniePortrait} alt="A portrait of Stephanie, the owner of Magnolia Coasts Photography." />
      <div class="flex font-serif my-2">
        <Button variant="Default" color="Mint" text="Get to know me"/>
      </div>
    </div>
    <div class="font-serif ml-2 text-sm leading-[25px]">
      <p class="font-bold">Welcome!</p>
      <p class="">I’m Stephanie, the owner and photographer of Magnolia Coasts Photography. I’m the woman behind the camera making magic happen by creating custom sets, wrapping and hushing babies to sleep and making children laugh with all those animal noises and silly antics.  I have 10 years experience photographing children and families and cannot wait to work with you!</p>
    </div>
  </div>
</NavLayout>
