---
import { Image } from "astro:assets";
import artInYourHome from "../assets/ArtInYourHome.jpg";
---

<div
  class="relative flex justify-center bg-gradient-to-r from-[rgb(230,229,236)] to-[rgb(153,148,149)]"
>
  <picture>
    <source
      srcset="/ArtInYourHome.414w.webp"
      media="(max-width: 414px)"
      type="image/webp"
    />
    <source
      srcset="/ArtInYourHome.600w.webp"
      media="(max-width: 600px)"
      type="image/webp"
    />
    <source
      srcset="/ArtInYourHome.900w.webp"
      media="(max-width: 900px)"
      type="image/webp"
    />
    <source
      srcset="/ArtInYourHome.1200w.webp"
      media="(max-width: 1200px)"
      type="image/webp"
    />
    <source
      srcset="/ArtInYourHome.1800w.webp"
      media="(max-width: 1800px)"
      type="image/webp"
    />
    <img
      src="/ArtInYourHome.1800w.webp"
      alt="Hero Image"
      width="1800"
      height="865"
    />
  </picture>
  <div
    class="font-cormorant-garamond bg-pink/50 absolute right-0 bottom-0 left-0 flex items-center justify-end px-4 py-4 text-3xl text-white md:px-8 lg:px-12 lg:text-5xl"
  >
    Art In Your Home
  </div>
</div>
