---
import { Image } from "astro:assets";
import artInYourHome from "../assets/ArtInYourHome.jpg";
---

<div
  class="relative flex justify-center bg-gradient-to-r from-[rgb(230,229,236)] to-[rgb(153,148,149)]"
>
  <Image
    src={artInYourHome}
    alt="Art in your home."
    layout="full-width"
    width={3840}
    height={1846}
  />
  <div
    class="font-cormorant-garamond bg-pink/50 absolute right-0 bottom-0 left-0 flex items-center justify-end px-[2rem] py-[1rem] text-3xl text-white md:px-[5rem] lg:px-[7rem] lg:text-5xl"
  >
    Art In Your Home
  </div>
</div>
