---
export interface Props {
  id?: string;
  classes?: string;
  title: string;
}
let buttonClass =
  "bg-white shrink-0 h-[3rem] w-[3rem] border border-[#C5C5C5] border-2 rounded-full flex justify-center items-center text-[#C5C5C5] cursor-pointer hover:scale-102 hover:shadow-md hover:text-app-active-grey hover:border-app-active-grey focus:shadow-md focus:text-app-active-grey focus:border-app-active-grey cursor-pointer transition-all ";
const { id, classes, title } = Astro.props;
---

<button id={id || ""} class={`${buttonClass} ${classes || ""}`} title={title}>
  <slot />
</button>
