---

import { Picture } from 'astro:assets';
import heroImage from "../assets/HeroImage.png";
import Button from "./Button.astro"
let inquireLink = "https://book.usesession.com/i/_ji73Jr_e/inquire"
---
<div class="relative flex justify-center bg-gradient-to-r from-[rgb(237,232,220)] to-[rgb(218,217,205)]">
  <Picture src={heroImage} alt="Baby in a basket." />
  <a class="w-[100px] font-cormorant-garamond absolute bottom-0 lg:-translate-y-40 md:-translate-y-20 -translate-y-10" href={inquireLink}>
    <button class="transition-all hover:scale-102 focus:scale-102 hover:shadow-md focus:shadow-md cursor-pointer rounded-3xl flex justify-center items-center text-black font-semibold bg-pink lg:text-2xl md:text-lg text-sm p-4 px-6">
      Inquire
    </button>
  </a>
</div>