---
export interface Props {
  href: string;
  text: string;
  classes?: string;
}
const { href, text, classes } = Astro.props;
---

<a
  href={href}
  class={`group relative overflow-hidden rounded-md shadow-card ${classes || ""}`}
>
  <slot />
  <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-black/70 via-black/30 to-transparent px-2 py-4 opacity-100 md:opacity-0 transition-opacity duration-300 md:group-hover:opacity-100 flex items-end justify-center">
    <span class="font-cormorant-garamond text-white text-base lg:text-xl font-semibold tracking-wide">
      {text}
    </span>
  </div>
</a>
