---
import Card from './Card.astro'

export interface Props {
  href: string,
  text: string,
  classes?: string
}
const { href, text, classes } = Astro.props 
---
<Card>
  <a href={href} class={`flex flex-col justify-start items-center ${classes || ''}`}>
    <slot />
    <div class="font-cormorant-garamond flex justify-center items-end h-[3rem] lg:h-[4rem] lg:text-2xl md:text-lg">
      {text}
    </div>
  </a>
</Card>