---
import Card from "./Card.astro";

export interface Props {
  href: string;
  text: string;
  classes?: string;
}
const { href, text, classes } = Astro.props;
---

<Card>
  <a
    href={href}
    class={`flex flex-col justify-start items-center ${classes || ""}`}
  >
    <slot />
    <div
      class="font-cormorant-garamond flex h-[3rem] items-end justify-center md:text-lg lg:h-[4rem] lg:text-2xl"
    >
      {text}
    </div>
  </a>
</Card>
