---
export interface Props {
  title: string;
  classStyles?: string;
}
const { title, classStyles } = Astro.props;
---

<p
  class={"my-6 font-cormorant-garamond flex justify-center text-lg sm:text-xl md:text-2xl " +
    classStyles || ""}
>
  {title}
</p>
