---
export interface Props {
  title: string
  classes?: string 
}
const { title, classes } = Astro.props
---
<h1 class={`py-4 md:h-[100px] h-[60px] lg:text-5xl md:text-3xl text-lg font-semibold h-full w-full font-cormorant-garamond text-xl text-black flex h-full justify-center items-center ${classes || ""}`}>{title}</h1>
