---
import { Image } from "astro:assets";
export interface Props {
  buttonText: string;
  link: string;
}
const { buttonText, link } = Astro.props;
import Button from "./Button.astro";
import Card from "./Card.astro";
---

<Card
  classes="max-h-[440px] max-w-[240px] grid grid-cols-1 grid-rows-[auto_40px] gap-4"
>
  <slot />
  <Button color="Pink" classes="mx-auto mt-auto">
    <a
      href={link}
      target="_blank"
      class="flex h-full w-full items-center justify-center">{buttonText}</a
    >
  </Button>
</Card>
