---
import WelcomeBackground from '../assets/WelcomeBackground.png'
export interface Props {
  classes?: string
}
const { classes } = Astro.props
---
<div class={`bg-[url(../assets/WelcomeBackground.png)] bg-center bg-repeat card-bg flex justify-center ${classes || ''}`}><slot/></div>