---
export interface Props {
  classes?: string;
}
const { classes } = Astro.props;
---
<div
  class={`bg-center bg-cover bg-white/50 bg-blend-lighten flex justify-center ${classes || ""} bg-splotchy-mobile bg-splotchy-desktop`}
>
  <slot />
</div>
