---
import { getImage } from "astro:assets";
import WelcomeBackground from "../assets/WelcomeBackground.jpg";
const optimizedBackground = await getImage({
  src: WelcomeBackground,
  format: "avif",
});

export interface Props {
  classes?: string;
}
const { classes } = Astro.props;
---

<div
  style={`background-image: url(${optimizedBackground.src});`}
  class={`bg-center bg-cover bg-white/50 bg-blend-lighten flex justify-center ${classes || ""}`}
>
  <slot />
</div>
