---
import Card from "./Card.astro";
import Button from "./Button.astro";
import InvestmentHeader from "./InvestmentHeader.astro";

export interface Props {
  cardStyle?: string;
  title: string;
  details: string[];
  price?: number;
  priceRange?: string;
  link: string;
}
let { title, details, price, priceRange, cardStyle, link } = Astro.props;
---

<style>
  li::marker {
    color: var(--color-pink);
  }
</style>
<Card test_id={title} classes={`w-full max-w-[400px] m-2 ${cardStyle || ""}`}>
  <InvestmentHeader title={title} />
  <slot />
  <ul
    class="font-cormorant-garamond my-2 flex list-inside list-disc flex-col items-start justify-start"
  >
    {
      details
        .filter((detail) => detail.length > 0)
        .map((detail: string) => (
          <li class="my-[0.25rem] align-middle text-lg">{detail}</li>
        ))
    }
  </ul>
  <div class="flex h-[62px] items-center justify-between pl-2">
    <div class="font-cormorant-garamond class text-xl font-bold">
      ${price || priceRange} + Tax
    </div>

    <Button color="Pink" classes="w-4/10 h-3/4">
      <a
        href={link}
        target="_blank"
        class="font-cormorant-garamond flex h-full w-full items-center justify-center"
        >Inquire</a
      >
    </Button>
  </div>
</Card>
