---
import { INQUIRE_LINK } from "../data/links";
import Card from "./Card.astro";
import Button from "./Button.astro";

export interface Props {
  cardStyle?: string;
  title: string;
  details: string[];
  price?: number;
  priceRange?: string;
}
let { title, details, price, priceRange, cardStyle } = Astro.props;
---

<style>
  li::marker {
    color: var(--color-pink);
  }
</style>
<Card test_id={title} classes={`w-full max-w-[400px] m-2 ${cardStyle || ""}`}>
  <h2
    class="font-cormorant-garamond mb-4 flex items-center justify-center md:text-lg lg:text-2xl"
  >
    {title}
  </h2>
  <slot />
  <ul
    class="font-cormorant-garamond my-2 flex list-inside list-disc flex-col items-start justify-start"
  >
    {
      details
        .filter((detail) => detail.length > 0)
        .map((detail: string) => (
          <li class="my-[0.25rem] align-middle text-base">{detail}</li>
        ))
    }
  </ul>
  <div class="flex h-[62px] items-center justify-between">
    <div class="class text-lg font-bold">${price || priceRange} + Tax</div>

    <Button color="Pink" classes="w-4/10 h-3/4">
      <a
        href={INQUIRE_LINK}
        target="_blank"
        class="font-cormorant-garamond flex h-full w-full items-center justify-center"
        >Inquire</a
      >
    </Button>
  </div>
</Card>
