---
// Props
export interface Props {
  title: string;
  date: string;
  testimony: string;
}
const { title, date, testimony } = Astro.props;
---
<style>
  img {
    height: 100%; /* Image takes full height of container */
    width: auto; /* Width adjusts to maintain aspect ratio */
    object-fit: cover; /* Scale image to cover container, cropping excess width */
    object-position: center; /* Center the image */
  }
</style>
<div class="bg-white md:h-[500px] h-[350px] max-w-[750px] m-4 p-4 shadow-card rounded-md grid grid-cols-10 grid-rows-[1rem_1rem_1rem_1fr] gap-4 font-cormorant-garamond text-sm sm:text-base md:text-lg border border-app-grey">
  <div class="flex flex-col justify-start items-center col-start-1 col-span-4 row-start-1 row-span-4">
    <slot name="image" />
  </div>
  <div class="col-start-5 col-span-6 row-start-1 md:row-start-2 font-semibold">
    {title}
  </div>
  <div class="col-start-5 col-span-6 row-start-2 md:col-start-5 md:row-start-3 font-light">
    {date}
  </div>
  <div class="col-start-5 col-span-6 row-start-3 md:row-start-4 row-span-all">
    {testimony}
  </div>
</div>
