---
import Card from "./Card.astro";

// Props
export interface Props {
  title: string;
  date: string;
  testimony: string;
}
const { title, date, testimony } = Astro.props;
---

<Card
  classes="h-auto sm:min-h-[450px] min-h-[290px] max-w-[750px] grid grid-cols-10 grid-rows-[1rem_1rem_1rem_1fr] gap-2 sm:gap-4 font-cormorant-garamond text-sm sm:text-base md:text-lg border border-app-grey min-h-[230px]"
>
  <div
    class="col-span-4 col-start-1 row-span-4 row-start-1 flex items-stretch justify-start"
  >
    <slot name="image" />
  </div>
  <div
    class="col-span-6 col-start-5 row-start-1 font-semibold whitespace-nowrap md:row-start-2"
  >
    {title}
  </div>
  <div
    class="col-span-6 col-start-5 row-start-2 font-light md:col-start-5 md:row-start-3"
  >
    {date}
  </div>
  <div
    class="row-span-all col-span-6 col-start-5 row-start-3 text-xs sm:text-base md:row-start-4"
  >
    {testimony}
  </div>
</Card>
