---
import { Image } from 'astro:assets';
import Button from '../components/Button.astro';
import stephaniePortrait from "../assets/StephaniePortrait.png";
---
<style>
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
</style>
<div class="bg-[url(../assets/WelcomeBackground.png)] flex justify-center">
  <div class="my-[1.5rem] mx-[1rem] rounded-lg shadow-card bg-white grid grid-cols-5 grid-rows-6 gap-3 p-3 sm:max-w-[274px] sm:max-w-[750px]">
    <div class="col-start-1 col-span-2 row-start-1 row-span-5 sm:row-span-6">
      <Image layout="constrained" src={stephaniePortrait} alt="A portrait of Stephanie, the owner of Magnolia Coasts Photography." />
    </div>
    <div class="col-start-1 col-span-2 row-start-6 row-span-1 flex font-cormorant-garamond sm:hidden">
      <Button variant="Default" color="Mint" text="Get to know me"/>
    </div>
    
    <div class="col-start-3 col-span-3 row-start-1 row-span-6 font-cormorant-garamond md:text-lg sm:text-base text-sm flex flex-col align-start sm:justify-around justify-start">
      <p class="font-bold">Welcome!</p>
      <p class="">I’m Stephanie, the owner and photographer of Magnolia Coasts Photography. I’m the woman behind the camera making magic happen by creating custom sets, wrapping and hushing babies to sleep and making children laugh with all those animal noises and silly antics.  I have 10 years experience photographing children and families and cannot wait to work with you!</p>
      <div class="font-cormorant-garamond hidden sm:flex">
        <Button variant="Default" color="Mint" text="Get to know me"/>
      </div>
    </div>
  </div>
  
</div>